.homeContainer{
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.showCard{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    width: 100%;
    border: 1px solid black;
}

.showImage {
    width: 100%;
    max-width: 150px; 
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    object-fit: cover; 
    margin-bottom: 15px;
  }
  