.detailsContainer{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: red;
}

.optionsContainer{
    margin: 50px;
}
